<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tao.pms.dao.account.ConsumptionDao">
	
	<!-- 列举所有字段 -->
	<sql id="allColumns">
		owner,cause,time,amount
		id,
		createTime,modifyTime,
  		createdBy,updatedBy,
  		remark,delFlag
	</sql>
	
	<!-- 分页  -->
	<sql id="limitPage">
   		 <if test="skipResults!=null">
			limit #{skipResults},#{maxResults}
   		 </if>
	</sql>
	
	<!-- 统计查询结果数 -->
	<sql id="selectCount">
		select count(*) from
	</sql>
	
	<!-- 根据创建时间降序排序 -->
	<sql id="createTimeDesc">
		order by createTime desc
	</sql>
	
	<insert id="add" parameterType="consumption">
		insert into consumption
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="amount != null">
				amount,
			</if>
			<if test="cause != null">
				cause,
			</if>
			<if test="time != null">
				time,
			</if>
			<if test="modifyTime != null">
				modifyTime,
			</if>
			<if test="createTime != null">
				createTime,
			</if>
			<if test="owner != null">
				owner,
			</if>
			<if test="createdBy != null">
				createdBy,
			</if>
			<if test="updatedBy != null">
				updatedBy,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="delFlag != null">
				delFlag
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="amount != null">
				#{amount,jdbcType=VARCHAR},
			</if>
			<if test="cause != null">
				#{cause,jdbcType=VARCHAR},
			</if>
			<if test="owner != null">
				#{owner,jdbcType=VARCHAR},
			</if>
			<if test="time != null">
				#{time,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyTime != null">
				#{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createdBy != null">
				#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="updatedBy != null">
				#{updatedBy,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR}, 
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=TINYINT}
			</if>
		</trim>
	</insert>
	
	
	<delete id="remove" parameterType="string">
		delete from consumption
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	
	
	
	<select id="getByCriteriaCount" resultType="int" parameterType="userCriteria">
    	<include refid="selectCount" /> consumption consum
    	<where>
    		delFlag=0

			<if test="modifyTime != null">
				and modifyTime=#{modifyTime}
			</if>
			
			<if test="createTime != null">
				and createTime=#{createTime}
			</if>
			<if test="createTimeBegin != null">
				<![CDATA[
				and createTime>=#{createTimeBegin}
				]]>     
			</if>
			<if test="createTimeEnd != null">
				<![CDATA[
				and createTime<=#{createTimeEnd}
				]]>     
			</if>
			
			<if test="createdBy != null">
				and createdBy=#{createdBy}
			</if>
			
			<if test="updatedBy != null">
				and updatedBy=#{updatedBy}
			</if>
			
			<if test="remark != null">
				 and remark like CONCAT('%','${remark}','%' ) 
			</if>
			
    	</where>
    </select>
    <select id="getByCriteria" resultType="user" parameterType="userCriteria">
    	select <include refid="allColumns" /> from  consumption consum
    	<where>
    		delFlag=0

			<if test="modifyTime != null">
				and modifyTime=#{modifyTime}
			</if>
			
			<if test="createTime != null">
				and createTime=#{createTime}
			</if>
			<if test="createTimeBegin != null">
				<![CDATA[
				and createTime>=#{createTimeBegin}
				]]>     
			</if>
			<if test="createTimeEnd != null">
				<![CDATA[
				and createTime<=#{createTimeEnd}
				]]>     
			</if>
			
			<if test="createdBy != null">
				and createdBy=#{createdBy}
			</if>
			
			<if test="updatedBy != null">
				and updatedBy=#{updatedBy}
			</if>
			
			<if test="remark != null">
				 and remark like CONCAT('%','${remark}','%' ) 
			</if>
			
    	</where>
    	<include refid="limitPage" />
    </select>
    
	
</mapper>
<!-- 
SQL:

#create table
CREATE TABLE `consumption` (
  `id` VARCHAR(32) NOT NULL COMMENT '支出id',
  `amount` DECIMAL(19,4) NOT NULL DEFAULT '0.0000' COMMENT '支出金额',
  `cause` VARCHAR(256) DEFAULT NULL COMMENT '支出原因',
  `owner` VARCHAR(32) DEFAULT NULL COMMENT '支出人',
  `time` DATETIME DEFAULT NULL COMMENT '支出时间',
  `createTime` DATETIME DEFAULT NULL COMMENT '创建时间',
  `modifyTime` DATETIME DEFAULT NULL COMMENT '修改时间',
  `createdBy` VARCHAR(32) DEFAULT NULL COMMENT '创建者',
  `updatedBy` VARCHAR(32) DEFAULT NULL COMMENT '修改者',
  `remark` VARCHAR(1024) DEFAULT NULL COMMENT '备注',
  `delFlag` TINYINT(1) DEFAULT NULL COMMENT '删除标志',
  PRIMARY KEY  (`id`)
) ENGINE=INNODB DEFAULT CHARSET=utf8;
 -->